

.image{
    display: block;
    margin: 40 auto 0;
    
}

h3, p {
    text-align: center;
    color: white;
}

.container {
    margin: auto;
}

.button {
    margin-left: 470px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #32c3ff;
    padding: 12px 58px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    font-weight: bold;
}