.form-group {
    margin: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image {
    margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}


.btn-signup {
    background-color: #32c3ff;
    padding: 3.5%;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
    width: 300px;
    display: flex;
    text-align: center;
}


.link {
    margin: auto;
    margin-top: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #32c3ff;
}


